
.portfolioImage {
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.bgImg {
    background-image: url("../assets/davidpjBackground.JPG");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
  }